.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.login > img {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    flex: 1;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
    cursor: pointer;
}